body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: white;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.contenedor {
  max-width: 800px;
  margin: 0 auto;
}

canvas {
  background-color: #e9db6e;
  border: 3px solid #756d2c;
  display: block;
  margin: 20px auto;
}